<br>
<br>
<br>
<br>
<br>

<div>
    <p>
        <% if flash[:my_errors] %>
            <h1><%= flash[:my_errors] %></h1>
        <% else  %>
            <h1> Edit your note: </h1>
        <%end%>
    </p>
    
    <%= form_for @watch_list do |f| %>
        <%= f.hidden_field :user_id, value: @watch_list.user.id %>
        <%= f.hidden_field :pet_id, value: @watch_list.pet.id %>
        <%= f.hidden_field :note, value: @watch_list.note %> <br>
        <%= f.text_area :note %> <br>
        <%= f.submit "Submit"%>
    <% end %>
</div>

