<br>
<br>
<br>
<br>
<br>
<br> 
<div>
    <h1>Adding your pal to your Watch List... </h1>

    <%= form_for @watch_list do |f| %> <br>
        <%= hidden_field_tag :user_id, @current_user %>
        <%= hidden_field_tag :pet_id  %>
        <%= f.label 'Make a note:' %> <br>
        <%= f.text_area :note %> <br>
        <%= f.submit 'Submit' %>        
    <% end %>
</div>