<h2> Search by Animal: </h2>
<p> Type in dog, cat, bird...</p>

<%= form_tag(pets_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= label_tag "State" %>
    <%= select_tag "State", options_from_collection_for_select(@pets, "id", "state") %>
    <%= submit_tag 'Search', :name => nil %>
<% end %>



<% if @pets.blank? %>
  <h4>There are no searches containing the term <%= params[:search] %>.</h4>
<% end %>

<% if @pets.present? %>
<h2> Pick a New Pal! </h2>
<% @pets.each do |pet| %>
<%=  link_to image_tag("#{pet.img_url}"), "#{pet_path(pet)}" %>
<%end%>
<%end%>