<br>
<h2> Search: </h2>
<p> You can search by animal, age, gender, size, or state abbreviation</p>

<%= form_tag(pets_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
<% end %>

<% if @pets.blank? %>
  <h4>There are no searches containing the term <%= params[:search] %>.</h4>
<% end %>

<br>

<% if @pets.present? && @current_user == nil %>
  <h2> Pick a New Pal! </h2>
      <% @pets.each do |pet| %>
        <%= link_to image_tag("#{pet.img_url}"), "#{pet_path(pet)}" %>
      <%end%>  
<%end%>

<%if @current_user%>
 <h3> Your Current Petpals </h3>  
      <% @pets.each do |pet| %>
        <% @current_user.watch_lists.each do |list| %>
          <% if list.pet_id == pet.id %>
            <%= link_to image_tag("#{pet.img_url}"), "#{pet_path(pet)}" %>
          <%end%>
        <%end%>
      <%end%>
<%end%>

<% array = [] %>
<% if @current_user %>
  <h3> Browse through our other Pets </h3>
    <% @pets.each do |pet| %>
      <% @current_user.watch_lists.each do |list| %>
        <% if list.pet_id == pet.id %>
          <% array << list.pet %>
        <%end%>
      <%end%>
    <%end%>
      <% current_array = @pets - array %>
        <% current_array.each do |pet| %>
          <%= link_to image_tag("#{pet.img_url}"), "#{pet_path(pet)}" %>
        <%end%>
<%end%>
