<%= @pet.name %>


<%= @pet.type %>
<%= @pet.breed %>

<h3> About Me </h3>
<p>
    Age: <%= @pet.age %>
    Gender: <%= @pet.gender %>
    Size: <%= @pet.size %>
    <%= @pet.description %>
</p> 

<% RANDOMMMMM %>