<%= image_tag ("#{@pet.img_url}") %>

<h1>Meet <%= @pet.name %>!</h1>
<p> <%= @pet.animal %> ||  <%= @pet.breed %> </p> 
<%= button_to "Add to Watchlist", new_watch_list_path(@pet.id), method: :get %>
    <%= @pet.likes %> ❤️ <%= button_to "Like", pet_like_path(@pet), method: :put %> 
<br>


<h3> About Me </h3>
    <p>
    <%= @pet.description %><br><br>
        Age: <%= @pet.age %> <br>
        Gender: <%= @pet.gender %><br>
        Size: <%= @pet.size %><br>
        Located: <%= @pet.city %>, <%= @pet.state %><br>
    </p> 

<h3> Adopt Me </h3>
    <p>
        Contact: <%= mail_to @pet.contact_email, @pet.contact_email %>
    </p>

<%= video_tag ("#{@pet.video_url}") %>

