<!DOCTYPE html>
<html>
  <head>
    <title>Petpals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">PetPals</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

  <body>
     <% if @current_user%>
       Hello <%= @current_user.name.capitalize %>
       <%= link_to "Log out", logout_path, method: :delete %>
        <%= link_to "Profile", user_path(@current_user) %>
    <% else %>
     <%= link_to "Sign Up", new_user_path, method: :get %> 
     <%= link_to "Sign In", new_login_path, method: :get %> 
    <%end%>
    <%= yield %>
    
  </body>
</html>
